<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/avataaars.png" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{ infoPag.info.titulo }} Portfolio</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fab fa-windows"></i> &nbsp; 
                <i class="fab fa-linux"></i> &nbsp; 
                <i class="fab fa-angular"></i> &nbsp;
                <i class="fab fa-js"></i> &nbsp;
                <i class="fab fa-html5"></i> &nbsp;
                <i class="fab fa-css3"></i> &nbsp;
                <i class="fab fa-bootstrap"></i> 
            </div>
            
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Web developer - Microcomputer Systems Specialist</p>
    </div>
</header>